<% include ./partials/header %>

<h1>Recipes Home</h1>

<a href="/recipes/new">Add a new recipe!</a>

<% recipes.forEach(function(recipe){ %>

    <div>
        <h4><%= recipe.title %></h4>
        <img src="<%= recipe.image %>">
    </div>
<% }); %>

<% include ./partials/footer %>