<% include ./partials/header %>

<h1>Recipes Home</h1>

<% recipes.forEach(function(recipe){ %>

    <div>
        <h4><%= recipe.name %></h4>
        <img src="<%= recipe.image %>">
    </div>
<% }); %>

<% include ./partials/footer %>